:root {
    --footerheight: 60px;
}

body {
    color: #782017;
    background-color: #fcf7b8;
}
.cabecera {
    background-color: #782017;
    color: white;
}
.logo {
    height: 1.5em;
}
footer {height: var(--footerheight)}
main {margin-bottom: var(--footerheight)}
